# The interpretability Suite
git+https://github.com/vanderschaarlab/Interpretability@interpretability_suite_app # Replace with PYPI name when published

# # Interpretability methods
dynamask==0.0.1
shap==0.41.0
simplexai==0.0.2
symbolic-pursuit==0.0.1

# Other packages
beautifulsoup4==4.11.1
captum==0.4.0
dill==0.3.6
matplotlib==3.5.3
matplotlib-inline==0.1.6
numpy==1.22.4
pandas==1.3.3
pydot==1.4.2
scikit-learn==0.24.2
scipy==1.8.1
seaborn==0.11.2
sktime==0.13.2
streamlit-extras>=0.1.5
sympy==1.6.2
tensorflow==2.10.0
termcolor==2.0.1
torch==1.12.1
torchvision==0.13.1
tqdm==4.64.1
xgboost==1.6.2